<!DOCTYPE html>
<html lang="en">
{% load static %}

<!--This is the heading with the title-->
<head>
  <meta charset="UTF-8">
  <title>Campus Marketplace</title>
  <link rel="stylesheet" href="{% static 'campusMarketplace/registration.css' %}" />
</head>

<body>
<!--Here we've got the logo-->
  <div class="logo-box">
    <a href="{ url 'campusMarketplace:shop' %}"><img src="{% static 'campusMarketplace/logo.png' %}" class="logo"/></a>
  </div>

<!--The header with a small paragraph to explain what this page is for-->
  <h1>Campus Marketplace</h1>
  <p>Buy and sell within your university community</p>

<!--The main container-->
  <div class="container">
    
    {% if messages %} 
      {% for message in messages %}
        <p class = 'success-message'>{{ message }}</p>
      {% endfor %}
    {% endif %}
    
<!--Here the user can choose whether they'd want to login or register-->
    <div class="tab-container">
      <button class="tab active" onclick="showForm('login', event)">Login</button>
      <button class="tab" onclick="showForm('register', event)">Register</button>
    </div>

<!--Login form-->
    <form id="login-form" method="post" action="{% url 'campusMarketplace:login' %}">
      {% csrf_token %}
      <label>Email:
        {{ login_form.username }}
      </label> 

      <label>Password:
        {{ login_form.password }}
      </label>

      <input type="submit" value="Login">
    </form>

<!--Registration form-->
    <form id="register-form" method = "post" action="{% url 'campusMarketplace:register' %}" style = "display: none;">
      {% csrf_token %}
      
      <label>First Name:
        {{ user_form.first_name }}
      </label>

      <label>Last Name:
        {{ user_form.last_name }}
      </label>

      <label>Email:
        {{ user_form.email }}
      </label>

      <label>Student ID:
        {{ user_form.student_id }}
      </label>

      <label>Password:
        {{ user_form.password }}
      </label>

      
      <label><input type="radio" name="type" checked> Buyer </label>

      <label><input type="radio" name="type"> Marketer </label>

      <input type="submit" value="Register">
    </form>

  </div>

<!--JavaScript code that changes from login form to registeration form-->
<!--!!!!!!!!!!!This should be moved to an external file!!!!!!!!!!!!!!!!!-->
  <script>
    function showForm(form, event) {
      document.getElementById("login-form").style.display =
        form === "login" ? "block" : "none";

      document.getElementById("register-form").style.display =
        form === "register" ? "block" : "none";

      document.querySelectorAll(".tab").forEach(t => t.classList.remove("active"));
      event.target.classList.add("active");
    }
  </script>

</body>
</html>