<!DOCTYPE html>
<html lang="en">
{% load static %}

<!--This is the heading with the title-->
<head>
  <meta charset="UTF-8">
  <title>Campus Marketplace</title>
  <link rel="stylesheet" href="{% static 'market/register.css' %}" />
</head>

<body>
<!--Here we've got the logo-->
  <div class="logo-box" id="logoBox">
    <a href="{ url 'market:shop' %}"><img src="{% static 'market/logo.png' %}" class="logo"/></a>
  </div>

<!--The header with a small paragraph to explain what this page is for-->
  <h1>Campus Marketplace</h1>
  <p>Buy and sell within your university community</p>

<!--The main container-->
  <div class="container">

    {% if messages %} 
      {% for message in messages %}
        <p class = 'success-message'>{{ message }}</p>
      {% endfor %}
    {% endif %}

<!--Here the user can choose whether they'd want to login or register-->
    <div class="tab-wrapper">
      <button class="tab active" onclick="showForm('login', event)">Login</button>
      <button class="tab" onclick="showForm('register', event)">Register</button>
    </div>

<!--Login form-->
    <form id="login-form" method="post" action="{% url 'market:login' %}">
      {% csrf_token %}
      <label>Email
        <input class="input-field" type="text" placeholder= "Enter your name" required>
        {{ login_form.username }}
      </label>

      <label>Password
        <input class="input-field" type="password" placeholder= "Enter your password" required>
        {{ login_form.password }}
      </label>

      <input type="submit" value="Login">
    </form>

<!--Registration form-->
    <form id="register-form" method = "post" action="{% url 'market:register' %}" style = "display: none;">
      {% csrf_token %}

      <label>First name
        <input class="input-field" type="text" placeholder= "Enter your first name" required>
        {{ user_form.first_name }}
      </label>

      <label>Last name
        <input class="input-field" type="text" placeholder= "Enter your last name" required>
        {{ user_form.last_name }}
      </label>

      <label>Email
        <input class="input-field" type="email" placeholder= "Enter your email" required>
        {{ user_form.email }}
      </label>

      <label>Password
        <input class="input-field" type="password" placeholder= "Enter your password" required>
        {{ user_form.password }}
      </label>

      <label>Student ID
        <input class="input-field" type="studentID" placeholder= "Enter your student ID" required>
        {{ user_form.student_id }}
      </label>

      <input type="submit" value="Create Account">
    </form>

  </div>

  <script src="register.js"></script>

</body>
</html>