<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
    <link rel="stylesheet" href="newItem.css">
</head>


<body>

<header class="header">
    <div class="header-left">
        <a href="purchase.html"><img src="logo.png" class="icon"></a>
        <h3>Campus Marketplace</h3>
    </div>

    <div class="header-centre"></div>

    <div class="header-right">
        <div class="balance">
            Balance: <!---->
        </div>

        <div class="header-icons">
            <a href="purchase.html"><img src="home.png" class="header-icon"></a>
            <a href="listing.html"><img src="plus.png" class="header-icon"></a>
            <a href="account.html"><img src="user.png" class="header-icon"></a>
            <a href="login.html"><img src="arrow.png" class="header-icon"></a>
        </div>
    </div>
</header>

<div class="page-wrapper">

    <div class="item-container">

        <div><img src="" class="item-image"></div>
        
        <div class="item-details">

            <p class="category">Sports</p>
            <h1 class="title">Gym bag</h1>

            <p class="seller">Olivia</p>

            <h3>Description</h3>
            <p class="description">A high quality gym bag by Gymshark. Looks new.</p>

            <h3>Price</h3>
            <p class="price">£25</p>

            <div class="buttons">
                <button class="purchase-btn">Purchase Now</button>
                <button class="like-btn"><img src="like.png"></button>
            </div>

        </div>

    </div>
</div>

</body>
</html>
