{% extends '/base.html'}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Campus Marketplace</title>
  <link rel="stylesheet" href="shop.css" />
</head>

<body>
<header class="header">
    <div class="header-left">
        <a href="shop.html"><img src="logo.png" class="icon"></a>
        <h3>Campus Marketplace</h3>
    </div>

    <div class="header-centre">
        <input type="text" placeholder="Search items..." class="search-bar">
    </div>

    <div class="header-right">
        <div class="balance">
            Balance:
        </div>

        <div class="header-icons">
            <a href="shop.html"><img src="home.png" class="header-icon"></a>
            <a href="listing.html"><img src="plus.png" class="header-icon"></a>
            <a href="account.html"><img src="user.png" class="header-icon"></a>
            <a href="register.html"><img src="arrow.png" class="header-icon"></a>
        </div>
    </div>
</header>


<div class="marketplace-container">

    <!-- Here's the sidebar -->
    <aside class="sidebar">
        <h3>Categories</h3>
        <ul>
            <li class="active">All</li>
            <li>Furniture</li>
            <li>Electronics</li>
            <li>Clothing</li>
            <li>Stationery</li>
            <li>Books</li>
            <li>Sports</li>
            <li>Others</li>
        </ul>
    </aside>

    <main class="content">

        <h2>All Items</h2>
        <p class="item-count">10 items available</p>

        <div class="item-grid">

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4>Gym bag</h4>
                <p class="seller">Olivia</p>
                <p class="price">£25</p>
                <span class="tag">Sports</span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>
            
            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

            <a href="newItem.html" class="item-card">
                <div><img src="" class="item-img"></div>
                <h4></h4>
                <p class="seller"></p>
                <p class="price"></p>
                <span class="tag"></span>
            </a>

        </div>
    </main>

</div>

</body>
</html>