{% extends "mock/base.html" %}

{% block content %}

<h2>Marketplace</h2>

<form method="get">
     <input type="text" name="q" placeholder="Search..." value="{{ query }}">
     <button type="submit">Search</button>
</form>

<hr>

{% for item in items %}
     <div>

          {% if item.thumbnail %}
               <img src="{{ item.thumbnail.url }}" width="200">
          {% endif %}

          <h3>{{ item.title }}</h3>
          <p>£{{ item.price }}</p>

          <a href="{% url 'market:item_form' item.id %}">
               View
          </a>
     </div>
{% empty %}
     <p>No items found.</p>
{% endfor %}

{% endblock %}