{% extends 'market/base.html' %}
{% load static %}

{% block title_block %}
    Item Details
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'market/css.css' %}">
{% endblock %}

{% block body_block %}

<div class="page-wrapper">
    <div class="item-container">

        <div>
            <img src="{% static 'market/.png' %}" class="item-image">
        </div>
        
        <div class="item-details">

            <p class="category">Sports</p>
            <h1 class="title">Gym bag</h1>

            <p class="seller">Olivia</p>

            <h3>Description</h3>
            <p class="description">A high quality gym bag by Gymshark. Looks new.</p>

            <h3>Price</h3>
            <p class="price">£25</p>

            <div class="buttons">
                <button class="purchase-btn">Purchase Now</button>
                <button class="like-btn">
                    <img src="{% static 'market/like.png' %}">
                </button>
        </div>
    </div>
</div>

{% endblock %}